.ticket {
	width: 392px;
	border-radius: var(--border-radius-2);
	background-color: #fff;
	position: relative;
	border: 1px solid var(--color-border);
}
.ticket::after,
.ticket::before {
	content: "";
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	border: 1px solid var(--color-border);
	bottom: 228px;
	border-radius: 50%;
	background-color: var(--color-surface);
	border-right-color: var(--color-surface);
	border-top-color: var(--color-surface);
}
.ticket::after {
	right: 0;
	transform: translateX(50%) rotate(45deg);
}
.ticket::before {
	left: 0;
	transform: translateX(-50%) rotate(-135deg);
}
.ticket .eventBanner {
	border-top-right-radius: var(--border-radius-2);
	border-top-left-radius: var(--border-radius-2);
	overflow: hidden;
	height: 227px;
}
.ticket .eventPhoto {
	width: 100%;
	display: block;
}
.ticketItem span {
	color: var(--color-gray);
	margin: 8px 0;
	display: inline-block;
}
.ticketItem p,
.ticketItem h6 {
	color: var(--color-primary-dark);
}
.ticketBottom {
	padding: 24px 16px;
}
.ticketDetail {
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 18px;
	margin-bottom: 18px;
}
.ticketTitle {
	margin-bottom: 24px;
}
.bottomPart {
	/* margin-top: 32px; */
	padding: 24px 60px;
	border-top: 1px dashed var(--color-border);
}
.barcode{
	display: flex;
	align-items: center;
	flex-direction: column;
}
.barcode img {
	display: block;
	width: 100%;
}
.logo {
	width: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo img {
	display: block;
	width: 100%;
}
.desc {
	margin-top: 24px;
	display: flex;
	align-items: center;
	gap: 16px;
}
.desc p {
	line-height: 190%;
}

@media (max-width: 480px) {
	.ticket {
		width: 100%;
	}
	.ticket::after,.ticket::before{
		/* display: none; */
		bottom: 210px;
	}
}
@media print {
	.ticket::before,
	.ticket::after {
		display: none;
	}
}
