.failPayBox {
	margin: 126px auto;
	width: 392px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 13px;
}

.failPayBox h5 {
	color: var(--color-primary-dark);
}
.failPayBox .checkCode {
	padding: 8px 16px;
	border: 1px solid var(--color-border);
	border-radius: var(--border-radius-2);
	margin-bottom: 11px;
}
.failPayBox button {
	width: 100%;
}
.failPayBox .icon {
	width: 118px;
	height: 118px;
	background-color: #fef0f3;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 11px;
}
.failPayBox .desc {
	line-height: 180%;
}

@media (max-width: 480px) {
	.failPayBox {
		width: 90%;
	}
}
