.eventItemBox {
	display: flex;
	gap: 24px;
}
.poster {
	border-radius: var(--border-radius-1);
	overflow: hidden;
	min-width: 117px;
	height: 148px;
}
.poster img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}
.detail {
	display: grid;
	grid-template-areas: "title title";
	width: 100%;
}
.detailItem:first-child {
	grid-area: title;
}
.detailItem span {
	color: var(--color-gray);
}
.detailItem p {
	margin-top: 4px;
	color: var(--color-primary-dark);
}
@media (max-width: 480px) {
	.eventItemBox{
		display: none;
	}
}
