.formBox form label {
	color: var(--color-primary-dark);
	margin-right: 16px;
}
.formBox {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 24px;
	margin-bottom: 24px;
}
.formBox .inputBox {
	display: flex;
	flex-direction: column;
}
.inputBox label {
	margin-right: 16px;
	margin-bottom: 10px;
}
.essential {
	color: var(--color-error);
}
.inputBox:last-child .essential {
	display: none;
}

@media (max-width: 480px) {
	.formBox {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
	.formBox .inputBox {
		gap: 8px;
	}
	.inputBox label {
		font-size: 12px !important;
	}
}
