.mainFooter {
	background-color: #fff;
	border-top: 1px solid var(--color-border);
	padding: 32px 0;
	margin-top: 32px;
}
.mainFooter div:global(.container) {
	display: flex;
	justify-content: space-between;
}
.footerLinks {
	display: flex;
	gap: 72px;
}

.footerLinks .listTitle {
	color: var(--color-primary-dark);
	margin-bottom: 32px;
}
.footerLinks li {
	color: var(--color-gray-2);
	margin-bottom: 24px;
}
.footerLinks li a {
	color: var(--color-gray-2);
}
.footerLinks li::before {
	content: "\2022";
	color: var(--color-gray-2);
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: 0.2em;
}
.footerLinks .icons {
	display: flex;
	gap: 24px;
}
.logos {
	display: flex;
	gap: 32px;
	align-items: start;
}
.copyRight {
	padding-top: 32px !important; 
	border-top: 1px solid var(--color-border);
	text-align: center;
}
.copyRight span {
	color: var(--color-primary);
}
@media (max-width: 480px) {
	.mainFooter div:global(.container) {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}
	.footerLinks{
		display: flex;
		flex-direction: column;
		gap: 16px;
	}
	.logos{
		padding-bottom: 16px;
	}
	
}
