.transactionBox table {
	width: 100%;
}
.transactionBox th {
	font-weight: normal;
}
.transactionBox th,
.transactionBox td {
	color: #4b5259;
	text-align: center;
	padding: 16px;
}
.transactionBox th {
	border-bottom: 1px solid var(--color-border);
	border-collapse: collapse;
}
.transactionBox tbody tr {
	margin-bottom: 24px;
}
.increase {
	background-color: var(--color-green-surface);
	color: var(--color-green);
    padding: 8px 16px;
    border-radius: 40px;
}
.decrease {
	background-color: #FDF2F3;
	color: #871722;
    padding: 8px 16px;
    border-radius: 40px;
}
