.eventSignup {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 16px;
	text-align: center;
}
.eventSignup button {
	margin: 8px 0;
}
.price {
	color: var(--color-gray-2);
	font-size: 16px !important;
}
.price h4 {
	color: var(--color-primary);
	display: inline-block;
	margin: 0 4px;
}
.price s {
	color: var(--color-gray);
	margin: 0 8px;
}

@media (max-width: 480px) {
	.eventSignup {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		border-radius: 0;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		z-index: 999;


	}
	.priceBox h6{
		margin-bottom: 8px;
		
	}
	.st{
		display: none;
	}
	.checkList {
		display: none;
	}
}
