.successBox {
	margin: auto;
	width: 392px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 13px;
	max-height: fit-content;
}

.successBox h5 {
	color: var(--color-green);
}
.successBox p {
	background-color: var(--color-priamry-dark);
}
.successBox .checkCode {
	padding: 8px 16px;
	border: 1px solid var(--color-border);
	border-radius: var(--border-radius-2);
	margin-bottom: 11px;
}
.successBox button {
	width: 100%;
}


@media (max-width:480px) {
	.successBox{
		width: 90%;
	}
}
