.discount {
	color: #fff;
	background-color: var(--color-green);
	display: inline-block;
	padding: 2px 6px;
	border-radius: var(--border-radius-1);
}
.discount.secondary {
	color: var(--color-green);
	background-color: var(--color-green-surface);
    
}
