.dates {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.dateItem {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 16px;
}
.dateItem .date {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	border-bottom: 1px solid var(--color-border);
	padding-bottom: 16px;
    width: 100%;
}
.dateItem:last-child .date {
	border: none;
	padding: 0;
}
.dateItem .date p {
	color: var(--color-primary-dark);
}
.dateItem .date span {
	color: var(--color-gray-2);
}
