.container{
    display: flex;
    align-items: center;
    flex-direction: column;

}
.container h5{
    margin-bottom: 32px;
}
.container .btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 8px;
}
.cerBox{
    width: 70%;
}
.cerBox img{
    display: block;
    width: 100%;
    border-radius: var(--border-radius-1)
}

@media (max-width: 480px) {
    .cerBox{
        width: 100%;
    }
}