.eventsSection{
    margin-bottom: 24px;
}
.eventsSection h5{
    color: var(--color-primary-dark);
    margin-bottom: 24px;
}
.eventsSection .events{
    display: flex;
    gap: 24px;  
    flex-wrap: wrap;
}
.container{
    padding-top: 160px !important;
}
@media (max-width: 480px) {
    .eventsSection .events{
        flex-direction: column;
        gap: 16px;
        flex-wrap: unset;
    }
}