.eventsSection {
	margin-bottom: 24px;
    width: 100%;
}
.eventsSection h5 {
	color: var(--color-primary-dark);
	margin-bottom: 24px;
}
.eventsSection .events {
	gap: 24px;
	display: grid;
    width: 100%;;
	grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    
}

@media (max-width: 480px) {
	.eventsSection .events {
		flex-direction: column;
		gap: 16px;
		flex-wrap: unset;
	}
}
