.mainContent, .sideContent {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 24px;
    margin-top: 24px;
}
.container{
    padding-top: 160px !important;
}
.end{
    text-align: center;
}
@media (max-width:480px) {
    .wrapper{
        display: block;
    }
    main{
        margin-bottom: 32px;
    }
    .sideContent{
        margin-bottom: 32px;
    }
}
