.ticketPage{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding-top: 160px !important;
    overflow: hidden;
}
.ticketPage .btns{
    display: flex;
    align-items: center;
    gap: 16px;
}
@media print {
    .ticketPage h5, .ticketPage .btns{
        display: none;
    }
    .ticketPage{
        padding-top: 0 !important;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        direction: rtl;
    }
}