.loginForm{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.loginForm label{
    margin-bottom: 8px;
    margin-right: 16px;
}
.loginForm .inputField{
    margin-bottom: 24px;
    width: 100%;
    position: relative;
}

.inputField .mobileIcon{
    position: absolute;
    margin: 16px;
}
.inputField input{
    width: 100%;
    padding-right: 56px;
}
