.loginBox{
	display: flex;
	flex-direction: column;
	gap: 16px;
	position: relative;

}
.loginPasswordForm {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
.loginPasswordForm label {
	margin-bottom: 8px;
	margin-right: 16px;
}
.loginPasswordForm .inputField {
	margin-bottom: 24px;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}
.inputField .keyIcon,
.inputField .eyeIcon {
	position: absolute;
	margin: 16px;
}
.inputField .eyeIcon {
	left: 0;
    cursor: pointer;
}
.inputField input {
	padding-right: 56px;
	padding-left: 56px;
}
.inputField span{
	align-self: flex-end;
}
.seprator{
	position: relative;
}
.seprator hr{
	height: 1px;
	width: 100%;
	background-color: var(--color-border);
	border: none;
	outline: none;
	position: absolute;
	top: 50%;
}
.seprator span {
	display: grid;
	place-content: center;
	width: 25px;
	height: 25px;
	background-color: #fff;
	align-self: center;
	margin: auto;
}
.otpBtn{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
}

