/* import fonts file */
@import url("./fonts.css");

/* declare varialbes */
:root {
	/* primary colors */
	--color-primary: #6987f1;
	--color-primary-dark: #030a23;
	--color-primary-light: #bccaf9;
	--color-primary-lighter: #eef2fd;

	/* secondary colors */
	--color-secondary: #f1d369;
	--color-secondary-dark: #231c03;
	--color-secondary-light: #f9ebbc;
	--color-secondary-lighter: #fcf5de;

	/* other colors */
	--color-error: #f84263;
	--color-green: #28a745;
	--color-green-surface: #eafaee;
	--color-border: #ececf4;
	--color-hint: #caccda;
	--color-deactive: #030a234d;
	--color-surface: #f9fafc;
	--color-gray: #cbcbcb;
	--color-gray-2: #959ea6;
	--color-gray-3: #f6f6f6;
	--color-orange: #E6A23C;
	--color-orange-surface: #FDF6EC;

	/* border radius  */
	--border-radius-1: 16px;
	--border-radius-2: 24px;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
body {
	background-color: var(--color-surface);
}
.container {
	padding: 0 24px;
	max-width: 1272px; /* 1224px + 24px side paddings */
	margin: auto;
}

@media (max-width: 480px) {
	.container {
		width: 100%;
		padding: 0 16px;
	}
}
