.btn {
	outline: none;
	border: none;
	background-color: transparent;
	border-radius: var(--border-radius-1);
	padding: 16px 24px;
	color: var(--color-primary-dark);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 16px;
	transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.btn.outline {
	border: 1px solid var(--color-border);
	background-color: #fff;
}
.btn.primary {
	background-color: var(--color-primary);
	color: #fff;
}
.btn.secondary {
	background-color: var(--color-secondary);
}
.btn.tertiary {
	background-color: transparent;
	border: none;
	transition: 0.2s linear;
}
.btn:global(.deactive) {
	color: var(--color-gray-2);
	cursor: default;
}
.btn.primary:hover,
.btn.btn.secondary:hover {
	transform: scale(95%);
}
.btn.tertiary:hover {
	background-color: var(--color-gray-3);
}
