.input {
	outline: none;
	border: 1px solid var(--color-border);
	border-radius: var(--border-radius-1);
	padding: 16px;
	color: var(--color-primary-dark);
}
.input:global(.error) {
	border-color: var(--color-error);
}
.input:global(.system) {
	border: none;
	background-color: var(--color-primary-lighter);
}
.input::placeholder {
	color: var(--color-hint);
}
.input:focus {
	border-color: var(--color-primary);
}
.input:disabled {
	color: var(--color-deactive);
}
